@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.sample-form-section {
    margin-top: 20px;
}

.sample-work-item-id-input {
    width: 250px;
    margin-right: 10px;
}

.sample-work-item-type-picker {
    width: 250px;
    margin-top: 8px;
    margin-right: 10px;
}

.sample-account-picker {
    width: 250px;
    margin-top: 15px;
    margin-right: 10px;
}

.inline {
    display:inline-block;
    margin-right:5px;
}
.dialogbox-size{
    min-width: 700px;
}
.sample-account-picker {
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}